<a href="https://colab.research.google.com/github/monika2021076/monika2021076/blob/main/pythonass20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Interchange the first and second last element of the list.

In [ ]:
#creating a function  
def swap_pos(lst,a,b):  
#using the swapping approach  
    lst[a], lst[b] = lst[b], lst[a]  
    return lst  
#initialising the list  
lst_val = [2,7,8,7,9,3,5,4,1,0,11,12,17] 
#displaying the original list  
print("The values inside the list are: ",lst_val)  
#specifying the positions  
a, b = 0,-1 
#passing the values in function  
print("The list with swapped elements is: ",swap_pos(lst_val,a,b))

The values inside the list are:  [2, 7, 8, 7, 9, 3, 5, 4, 1, 0, 11, 12, 17]
The list with swapped elements is:  [17, 7, 8, 7, 9, 3, 5, 4, 1, 0, 11, 12, 2]

2. Find the fifth smallest number from the list.

In [ ]:
lists=[11,2,67,6,26,5,4,76,77]
lists.sort()
print(lists)
print(lists[4])

[2, 4, 5, 6, 11, 26, 67, 76, 77]
11

3. Replace the last element in a list with another list

In [ ]:
lst1= [1, 3, 5, 8, 10, 9] 
lst2=[2, 7, 9]
print(lst1+lst2)

[1, 3, 5, 8, 10, 9, 2, 7, 9]

4. Sort the list and pickup first three values and append to the sorted list

In [ ]:
List= [12,3,4,98,100,75]
List.sort()
print(List)
lst1=List[0:3]
List=List[4:]
List.append(lst1)
print(List)

[3, 4, 12, 75, 98, 100]
[98, 100, [3, 4, 12]]

5. Find mean of items in the list and check whether mean is present in the list.

In [ ]:
ylist =  [1, 2, 5, 8, 9, 10, 0]
sum=0
for i in mylist:
  sum=sum+i
x=sum/len(mylist)
print(x)
for i in mylist:
  if(i==x):
    print("yes mean is here ")
    break;

5.0
yes mean is here

6. Given two strings, append each of those strings to two different empty list. Multiply those list by the length of the string present in the corresponding list and then concatenate the two lists.

In [ ]:
string1="Hello"
string2= "Ryan"
lst1=[string1]
lst2=[string2]
lists1=len(string1)*(lst1)
lists2=len(string2)*(lst2)
print(lists1+lists2)

['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Ryan', 'Ryan', 'Ryan', 'Ryan']

7. Remove the first occurrence of the given string from the list and replace it with its reverse string

In [15]:
list=['Hello', 'John', 'Noice', 'Hello', 'again', 'Hello']
for i in range(len(list)):
  print(list[i])
list.remove('Hello');
print("the list after removing:")
for i in range(len(list)):
  print(list[i])
res=[i[::-1]for i in list]
print(" = "+str(res))

Hello
John
Noice
Hello
again
Hello
the list after removing:
John
Noice
Hello
again
Hello
 = ['nhoJ', 'ecioN', 'olleH', 'niaga', 'olleH']

Dictionary

1. Merge two dictionaries.

In [28]:
def Merge(d1,d2):
  res = {**d1 , **d2}
  return res
d1={"FirstName":"Rahul", "age":9}
d2={"LastName":"Vaidya", "class":10}
d3=Merge(d1,d2)
print(d3)

{'FirstName': 'Rahul', 'age': 9, 'LastName': 'Vaidya', 'class': 10}

2. Sum all the values of keys in a dictionary.

In [32]:
 Dic= {1:2, 3:4, 5:6, 7:8}
 sum=0
 for i in Dic:
   sum=sum+Dic[i]
print(sum)

20

3. Count the values associated with each key in a dictionary. If number of values associated with any key is greater than equal to 5, remove the last element from that value.

In [73]:
Dic = {1:[1,2,3], 2:[2,3,4,5], 3:[2,3,4,5,6], 4:[1,2]}
count=5
for key in Dic:
  print(len(Dic[key]))
  print(Dic[key])

3
[1, 2, 3]
4
[2, 3, 4, 5]
5
[2, 3, 4, 5, 6]
2
[1, 2]

4. Make a list of unique values from dictionary values.

In [78]:
test_list = [{"apple": 1, "mango": 2, "orange":1, "banana":2}]
print("The original list : " +  str(test_list))
res = set(val for dic in test_list for val in dic.values())
print("The unique values in list are : ",res)

The original list : [{'apple': 1, 'mango': 2, 'orange': 1, 'banana': 2}]
The unique values in list are :  {1, 2}

5. Make a dictionary. The items in the list should be keys in the dictionary and their corresponding index should be values of the keys.

In [81]:
L1 = [2,68,7,8,98,70]
L2 = [1,2,3,4,5,6]
d = {k:v for k,v in zip(L1,L2)}
d

{2: 1, 7: 3, 8: 4, 68: 2, 70: 6, 98: 5}

6. Access the value of key ‘python2’:

In [88]:
sampleDict = { 

   "sabudh":{ 

      "intern":{ 

         "name":"Mike",

         "marks":{ 

            "python1":70,

            "python2":80

         }

      }

   }

}
if key in sampleDict.keys():
  print("value=",key)

7.  Check if a value ‘bunny’ exists in a dictionary:

In [79]:
sampleDict = {'a': 'antelope', 'b': 'bunny', 'c': 'cat'}
key='b'
if key in sampleDict.keys():
  print("present bunny")
else:
  print("not bunny here")

present bunny